        <footer>
                     <hr>
                    CST336-03_SP20:Internet Programming. 2020&copy; Jimenez <br />
                    <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br />
                    It is used for academic purposes only.
                    
                    
                    <figure id="CSUMB">
                        <img src="img/CSUMBLogo.jpg" alt="CSUMB Logo" />
                    </figure>
        </footer>  
    </body>
</html>