<%- include('partials/header.ejs') %>

<header>
            <hi> Programming Languages: C++</hi>
            <hi> || Page finished: <time>2-9-2020</time></hi>
        </header>
        <nav>
            <!--<hr width = "50%" />-->
            <a href="/"> Home</a>
            <a id="c" href="/c++">C++</a>
            <a href="/java">Java</a>
            <a href="/python">Python</a>
            
        </nav>
        
        <br /><br />
        
       <main>
            
            <figure id="cpp">
                <img src="img/1200px-ISO_C++_Logo.svg.png"/>
            </figure>
            
            <div id="Ctxt">
                <p>•<a href="https://www.webopedia.com/TERM/P/programming_language.html">C++</a>, a programming language in the top five most popular languges to learn and use as of the begginning of 2020.</p> 
                <p>•Havin an object oriented structure mostly used for larger projects with a group of programmers that can split the work and complete multiple tasks at once.</p>
                <p>•<a href="https://www.techopedia.com/definition/26184/c-programming-language">Developed</a> by Bjarne Stroustrup, C++ is considered an intermediate-level language as it can obtain important features of both high-level as well as a low-level language. </p>
                <p>•Some <a href="https://www.softwaretestinghelp.com/cpp-applications/">real world applications</a> for the use of C++ include games, gui based applications, database software, operating systems, browsers, etc..</p>
                
                <style>
                    thead{color:black;}
                    tbody{color:blue;} 
                </style>
                
                <table>
                    <thead>
                        <tr>
                            <th>Programming Language</th>
                            <th>Average Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="https://www.salary.com/research/salary/posting/c-plus-plus-programmer-salary">C++</a>   </td>
                            <td>$77,710</td>
                        </tr>
                        <tr>
                            <td>Java</td>
                            <td>$93,055</td>
                        </tr>
                        <tr>
                            <td>Python</td>
                            <td>$83,587</td>
                        </tr>
                    </tbody>
                </table>
                
                
            </div>
            
           <br /><br />
           
        </main>



<%- include('partials/footer.ejs') %>