<%- include('partials/header.ejs') %>

<header>
    <marquee>Programming Language: Home</marquee>
    <p> Page finished: <time>4-5-2020</time></p>
</header>

<nav>
    <a id="c" href="/" > Home </a>
    <a href="/c++" > C++ </a>
    <a href="/java" > Java </a>
    <a href="/python" > Python </a>
</nav>

 <br /><br />
        
        <main>
            
            <div id = "begginningText">
                <p> <a href="https://www.webopedia.com/TERM/P/programming_language.html">Programming languages:</a> a set of grammatical rules used to give 
                instructions to a computer in order to have it perform spicific tasks.</p>
            </div>
           
            <div id= "beggText">
                
                <p> Each having different and unique keywords and syntax used in order to organize programming instructions.</p>
                
            </div>
        
        <figure id="me">
                    <img src="img/PL.jpeg" alt="Picture of different programmin languages." />   
        </figure>
        
        <div id= "sText">
            <p> In this era with programming languages becoming a lot more all purpose, all of them have their advantages and disadvanteges with each one supporting different styles of programming.</p> 
            <p>For this website we will specifically be focusing on some facts, styles, salaries, uses for C++, Java, and Python.</p>
        </div>
        
        
        </main>  


<%- include('partials/footer.ejs') %>