<%- include('partials/header.ejs') %>

<header>
            <hi> Programming Languages: Java</hi>
            <hi> || Page finished: <time>2-9-2020</time></hi>
        </header>
        <nav>
            <!--<hr width = "50%" />-->
            <a href="/"> Home</a>
            <a href="/c++">C++</a>
            <a id="c" href="/java">Java</a>
            <a href="/python">Python</a>
            
        </nav>
        
        <br /><br />
        
         <main>
            
            <figure id="java">
                <img src="img/Java.jpg" />
            </figure>
            
            <p>•<a href="https://www.theserverside.com/definition/Java">Java</a>: a programming language used wildely for the distributive environment of the internet. Currently the most pupular language used on applications for smartphone applications of Android as well as edge and the internet of things. </p>
            <!--<p>Currently the most pupular language used on applications for smartphone applications of Android as well as edge and the internet of things.</p>-->
            <p>•Being an object oriented program since the language itsel was designed to have a similar style of coding as C++. The main difference being that Java can be simpler to use than C++ and enforces the object oriented programming model a lot more. </p>
            <p>•One very important reason as to why Java is such a popular language is its ability to be able to run on a wide variety of computers. So long as it has a Java Runtime Environment being or also known as a JRE installed on the device.</p>
            <p>•Some <a href="https://www.pearsonfrank.com/blog/why-is-java-so-popular-developers/">areas</a> in which Java is used include Android apps, Java web applications, Software tools, and scientific applications.</p>
            
            <style>
                    thead{color:black;}
                    tbody{color:blue;} 
            </style>
                
                <table>
                    <thead>
                        <tr>
                            <th>Programming Language</th>
                            <th>Average Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>C++</td>
                            <td>$77,710</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.salary.com/research/salary/benchmark/java-developer-salary">Java</a></td>
                            <td>$93,055</td>
                        </tr>
                        <tr>
                            <td>Python</td>
                            <td>$83,587</td>
                        </tr>
                    </tbody>
                </table>
           
        </main>
       


<%- include('partials/footer.ejs') %>